html,body{height:100%;overflow:hidden;}
body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden!important;
    display: flex;
}
#lottery {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 27px;
    border-image: url("../images/border.png") 27 fill repeat;
    overflow: hidden;
}


#lottery .active {
    background-color: #ea0000;
}
body{
    background-color: #c71a1a;
}
.box{
    display: flex;
    position: relative;
}
.flex1{
    flex: 1 1 auto;
}
.flex2{
    flex: 2;
}
.box > .flex1,
.box > .flex2{
    background-color: #c71a1a;
    background-color: #1AC783;
    /*background-color: rgba(192,26,26,0.4);*/

    border-radius: 5px;
    border: 10px solid #F9BB0C;
    margin: 20px;
}
.box > .flex2 {
    margin: 20px 10px;
    padding: 0 20px;
}
.lottery-unit span{
    background-color: rgba(0,0,0,0.3);
    /*background-color: rgba(192,26,26,0.3);*/
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.2em;

}
.lottery-unit{
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-size: 100% 100%;
    background-size: contain;
}
.choujiang{
    display: flex;
    padding: auto 0;
    background-color: #F80000!important;

}
button:hover,
button:active,
button:visited,
button{
    text-decoration: none;
    border-style: none;
    font-size: 3em;
    background: none;
    outline:none
}
button:focus{
    border-image: none;
    border-image-width: 0!important;
    border-width: 0;

}
.choujiang button{
    padding: 0;
    margin: 0;
    background: none;
    background-color: #F80000;
    overflow: hidden;
    border-image-width: 0!important;
    border-width: 0;
    border: 1px solid #F80000;
    display: flex;

}
.choujiang img{
    flex: 1;
    width: 100%;
    border-image-width: 0!important;
    border-image: none;
    border: 1px solid #F80000;

}

.lottery-unit-1 {
    background-image: url("../images/1.png");
}

.lottery-unit-2 {
    background-image: url("../images/2.png");
}

.lottery-unit-3 {
    background-image: url("../images/3.png");
}

.lottery-unit-4 {
    background-image: url("../images/4.png");
}

.lottery-unit-5 {
    background-image: url("../images/5.png");
}

.lottery-unit-6 {
    background-image: url("../images/6.png");
}

.lottery-unit-7 {
    background-image: url("../images/7.png");
}

.lottery-unit-8 {
    background-image: url("../images/8.png");
}

.lottery-unit-9 {
    background-image: url("../images/9.png");
}

.lottery-unit-10 {
    background-image: url("../images/10.png");
}

.sweet-alert{
    background-color: #F80000;

}
.sweet-alert h2 {
    color: #F80000!important;
}
.sweet-alert .sa-confirm-button-container {
    width: 50%!important;
}
.sweet-alert[data-has-cancel-button=false] button {
    width: 100%!important;
}